<%= render "shared/header" %>
<main>
  <div class="main-menu">
    <%= link_to "おすすめ", "#", class: "bottom-nav"%>
    <%= link_to "マイリスト", "#", class: "bottom-nav"%>
    <%= link_to "ピックアップ", "#", class: "bottom-nav"%>
  </div>
  <div class="main-image">
    <%= image_tag("mercari.jpeg", class:"mercari_image")%>
  </div>
  <div>
    <p class="recommened">おすすめの商品</p>
  </div>
  <div class="item-container">
    <% @items.each do |item| %>
      <div class="image-content">
        <%= link_to image_tag(item.image, class: "item"), item_path(item) %>
        <p class="item-price">¥<%= item.price %></p>
        <p class="item-name"><%= item.name %></p>
      </div>
    <% end %>
  </div>
</main>
<%= render "shared/footer"%>